@import url('https://fonts.cdnfonts.com/css/lemon-milk');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
    
    body {
        @apply text-white tracking-wider font-lemonMilk bg-primaryColor;
    }

    section {
        @apply pt-16 pb-4 md:pt-20;
    }
}


@layer components {
    .btn {
        @apply inline-block text-base py-[18px] px-[38px] capitalize text-center cursor-pointer rounded-md ease-linear duration-200;
    }

    .btn-primary {
        @apply text-white bg-secondaryColor hover:opacity-75;
    }
}

@layer utilities {
    .home__title,
    .card__title,
    .section__title {
        @apply text-textColor uppercase leading-normal text-6xl sm:text-6xl;
    }

    .section__title {
        @apply text-4xl sm:text-5xl;
    }

    .card__title {
        @apply text-3xl font-medium;
    }

    .separator {
        @apply w-28 h-[2px] bg-secondaryColor my-5;
    }

    .paragraph {
        @apply text-white text-lg font-medium leading-5;
    }

    .nav__link {
        @apply capitalize
    }
}

.category__card:is(:hover, :focus-within) img {
    transform: scale(1.05);
}

.swiper-pagination-bullet-active {
    @apply !bg-secondaryColor
}

/* css slider */
.slider{
    height: 650px;
    /* margin-top: -50px; */
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, rgba(237, 208, 43, 0.795) 5%, transparent
    ); 
} */

.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    max-width: 80%;
    z-index: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    @apply font-bold;
}
.slider .list .item .content p:not(nth-child(1)) {
    color: rgb(28 27 27);
}
.slider .list .item .content h2{
    @apply font-bold uppercase text-4xl sm:text-6xl;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 10;
}
.arrows button{
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    transition: .5s;
    @apply bg-secondaryColor text-white hover:bg-white hover:text-secondaryColor
}

@media screen and (max-width: 678px) {
    .slider {
        height: 650px;
    }
    .arrows{
        right: 20px;
    }
}